<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/4e0d9627b8.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css_stylesheet.css">
</head>
<body>
    <header>
        <h1 class="resume_heading">Silair Sileewa's Portfolio Website</h1> 
    </header>
<nav class="menu_items">
        <a href="index.ejs">Home</a>
        <a href="../views/html/my_resume.html">Resume</a>
        <a href="../views/html/my_fun_facts.html">Fun Facts about me</a>
        <a href="../views/html/blog.html">Blog</a>
</nav>
<div class="pic_of_me">
    <img src="../public/img/IMG_8460.JPG" alt="picture of me" height="200"
                                                width="150">
    <p> It is the mark of an educated mind to be able to entertain a thought without accepting it. -Aristotle</p>
</div>
<div class="about_me">
    <h2>About Me</h2>
    <p>
        Hello, my name is Silair Sileewa, I am 23 years old and I currently attend Oakland university. I am studying information technology and am currently in my junior year, however I have been taking classes for a bit longer. I was born in Iraq; however, I have lived in Michigan for the majority of my life. From a young age I was heavily interested in computers, originally my fascination started with playing video games on my family computer at home, and from there my fascination grew as I played around a bit with source codes others posted online of some of my favorite games. Most of the time what I would do is spend hours at a time watching YouTube guides on how to add things to these private servers, manipulate my experience in some fashion and generally understand what I was able to do. I didn’t understand it at the time but this laid the foundation for understanding how programming works from a very basic level and as I made it to college and took my first couple classes I knew from then on this is what I wanted to do for a career. Currently I am not involved in any professional manner as a developer, nor have I been in the past. I would like to join the professional setting in concurrence with coursework I am currently taking as I believe that will propel me farther in my next steps in my career as well as expose me to how teams work on projects in the industry. My plans post-graduation is to hopefully be involved as a back-end developer in industry. To learn more about me check out my resume and fun facts page.
    </p>
    <img src="../public/img/a801a4cf8f412037673d46ede220d766.png" alt="progress to Graduation" height="100%" width="100%">
</div>
    
</body>
<footer>
    <hr>
    <a href="mailto: silairsileewa@oakland.edu"><i class="fas fa-envelope-square" title="link to my Email"></i></a>
    <p>Created by Silair Sileewa &copy;</p>
</footer>
</html>